# Build folders
bin/
obj/

# Visual Studio files
.vs/
*.user
*.suo

# Rider
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# EF Core migrations snapshots (optional)
*.db

# Environment configs
FirstAPI/appsettings.Development.json